body{
  /*background-color: red;*/
}

nav div:last-child a{
  display: none;
}
nav div:last-child a:first-child{
  display: inline;
}
nav{
  padding: 10px 5%;
}
nav div{
  display: inline-block;
  width: 50%;
}
nav div:last-child{
  text-align: right;
}
