body{

  background-color: green;

}
img{
  width: 100%;

}
ol{
  width: 20px;
}

#cir{

  position:absolute;
  width: 300px;
  left: 10px;
}
#cir li:first-child{
  width: 30px;
  height: 10px;
  border-radius: 0;

}
#cir li:nth-child(2){
  width: 30px;
  height: 10px;
  border-radius: 0;

}
#cir li:last-child{
  width: 30px;
  height: 10px;
  border-radius: 0;

}
#arrow{
  display: none;
}
.container{}
